table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    cursor: pointer;
  }
  
  td, th {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(odd) {
    background-color: rgba(99,99,99,0.08);
  }

  .row:hover{
      background: grey
  }
