.cardMain {
    margin: 15px;
    padding: 20px;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    flex-grow: 1;
}

.cardChildren {
    display: flex;
    flex-direction: column;
    align-items: center;
}
