.barContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

.barMain {
    height: 25px;
    width: 90%;
    border-radius: 50px;
    margin: 5px;
    margin-right: 0px;
    background: #333;
    display: flex;
    text-align: right;
    cursor: pointer;
}

.barFiller {
    background: rgba(255, 147, 64, 1);
    height: 100%;
    border-radius: inherit;
    text-align: right;
    padding-right: 10px;
    color: #eee;
}
.barFiller:hover {
    background: rgba(255, 147, 64, 0.9);
}

.barTitle {
    text-transform: capitalize;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    padding-left: 10px;
    white-space: nowrap;
}

.fraction {
    line-height: 20px;
    width: 59px;
    color: #333;
    /*TODO: remove comment when we have font*/
    /*font-family: "SF Pro Text";*/
    font-size: 16px;
    font-weight: bold;
}
