.app {
  text-align: center;
}

.appLink {
  color: #61dafb;
}

.navContainer {
  background: white;
  height: 140px;
}

.navBar {
  width: 100%;
  height: 68px;
  background: #f4f4f4;
  position: fixed;
  top: 75px;
  display: flex;
  flex-direction: row;  
  justify-content: flex-end;
}

.navBar h1 {
  flex-grow: 1;
  align-self: flex-start;
  margin: auto;  
  color: #000000;	
  /*TODO: uncomment when cql fonts are added to project*/
  /*font-family: CQL;*/		
  font-size: 36px;	
  font-weight: bold;	
  letter-spacing: -1.38px;
}

.circle {
  width: 50px;
  height: 50px;
  background: #333;
  border-radius: 50%;
  position: absolute;
  left: 355px;
}

.linkContainer {
  align-self: flex-end;
  margin-right: 60px;
  background: #333;
  border-radius: 0 18px 18px 18px; 
  display: flex;
  align-content: center;
  height: 80px;
}

.navTab {
  width: 120px;
  padding: 0px 35px 5px 35px;
  color: #fff;
  text-decoration:none;
  font-size: 15px;
  line-height: 18px;
  background: #333;
  border-radius: 0 18px 0px 18px;
  display: flex;
}

.navTab:last-Child {
  border-radius: 0 18px 18px 18px;
}

.navTab label{
  margin: auto;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;	
  color: #FFFFFF;	
  /*TODO: uncomment when cql fonts are added to project*/
  /*font-family: CQL;*/	
  font-size: 15px;	
  font-weight: bold;	
  letter-spacing: -0.49px;	
  line-height: 18px;	
  text-align: center;
}

.active {
  color: #fff;
  background: #009EFF;
}

.appFooter {
  width: 100%;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid black;
}
