.app {
  text-align: center;
}

.appLink {
  color: #61dafb;
}

.navContainer {
  background: white;
  height: 140px;
}

.navBar {
  width: 100%;
  height: 65px;
  background: #f4f4f4;
  position: relative;
  top: 75px;
  display: flex;
  flex-direction: row;  
  justify-content: flex-end;
  z-index: 2;
}

.navBar h1 {
  flex-grow: 1;
  align-self: flex-start;
  margin: auto;  
  color: #000000;	
  /*TODO: uncomment when cql fonts are added to project*/
  /*font-family: CQL;*/		
  font-size: 36px;	
  font-weight: bold;	
  letter-spacing: -1.38px;
}

.navEllipse {
  position: relative;
  left: 0px;
  background: #333;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  z-index: 3;
}

.navRectangle {
  background: #f4f4f4;
  /*background: #a07373;*/
  position: relative;
  top: 15px;
  left: 40px;
  width: 50px;
  height: 20px;
  border-radius: 0px 2px 0px 0px;
  z-index: 3;
}

.navTabRectangle {
  background: #333;
  position: relative;
  left: -50px;
  width: 20px;
  height: 20px;
  border-radius:  0 0px 0px -18px; 
}

.linkContainer {
  align-self: flex-end;
  margin-right: 60px;
  border-radius: 0 18px 18px 18px; 
  display: flex;
  align-content: center;
  height: 80px;
  flex-direction: row-reverse;
}

.navTab {
  width: 123px;
  padding: 0px 35px 5px 35px;
  color: #fff;
  text-decoration:none;
  font-size: 15px;
  line-height: 18px;
  background: #333;
  border-radius: 0 18px 0px 0px;
  display: flex;
  z-index: 3;
}

.navTab:first-child {
  border-radius: 0 18px 18px 0;
}

.navTab:nth-child(5) {
  border-radius: 0 18px 0 18px;
}

.navTab label{
  margin: auto;
  margin-left: 0px;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;	
  color: #FFFFFF;	
  /*TODO: uncomment when cql fonts are added to project*/
  /*font-family: CQL;*/	
  font-size: 15px;	
  font-weight: bold;	
  letter-spacing: -0.49px;	
  line-height: 18px;	
  text-align: center;
}

.active {
  color: #fff;
  background: #009EFF;
}

.active .navTabRectangle{
  color: #fff;
  background: #009EFF;
}

.appFooter {
  width: 100%;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid black;
}
