.app {
    text-align: center;
}

.appHeader {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.appLink {
    color: #61dafb;
}

.appLink {
    color: #61dafb;
}

.navContainer {
    background: white;
    height: 140px;
}

.navBar {
    width: 100%;
    height: 65px;
    background: #f4f4f4;
    position: relative;
    top: 75px;
    display: flex;
    z-index: 2;
}

.navBar h1 {
    flex-grow: 1;
    align-self: flex-start;
    margin: auto;
    color: #000000;
    /*TODO: uncomment when cql fonts are added to project*/
    /*font-family: CQL;*/
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -1.38px;
}

.navEllipse {
    position: relative;
    left: 50px;
    top: -15px;
    background: #555;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    z-index: 4;
}

.navRectangle {
    background: #f4f4f4;
    position: relative;
    width: 50px;
    height: 65px;
    z-index: 5;
}

.navTabRectangle {
    background: #333;
    position: absolute;
    left: -20px;
    width: 30px;
    height: 20px;
}

.linkContainer {
    align-self: flex-end;
    margin-right: 60px;
    border-radius: 0 18px 18px 18px;
    display: flex;
    align-content: center;
    height: 80px;
    flex-direction: row-reverse;
}

.navTab {
    width: 100px;
    position: relative;
    padding: 0px 35px 5px 35px;
    color: #fff;
    text-decoration: none;
    background: #333;
    border-radius: 0 18px 0px 0px;
    display: flex;
    z-index: 3;
    justify-content: center;
}

.navTab:first-child {
    border-radius: 0 18px 18px 0;
}

.navTab:last-child {
    border-radius: 0 18px 0 18px;
}

.navTab label {
    margin: auto;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    /*TODO: uncomment when cql fonts are added to project*/
    /*font-family: CQL;*/
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.49px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
}

.active {
    background: #009eff;
}

.active .navTabRectangle {
    background: #009eff;
}

.appFooter {
    width: 100%;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid black;
}
