.dashMain {
    margin: 30px;
    display: flex;
}

.dashColumn {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 50%;
}

.dashRow {
    display: flex;
    flex-direction: row;
}

.linkedTitle {
    color: #009eff;
    cursor: pointer;
}

/* icon styling */
.statsIcon {
    color: #ff9340;
    transform: scale(10, 5);
    margin-bottom: 10px;
    margin-top: 40px;
}
.upArrowIcon {
    color: #ff9340;
    transform: scale(5, 10);
    position: relative;
    right: 15px;
    margin-bottom: 20px;
    margin-top: 40px;
}
.downArrowIcon {
    color: #ff9340;
    transform: scale(5, 10);
    position: relative;
    left: 15px;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 20px;
}
