.dashMain {
    display: flex;
    position: absolute;
    padding: 20px;
    width: 96vw;
}

.dashColumn {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 50%;
    min-width: 720px;
}

.dashRow {
    display: flex;
    flex-direction: row;
}

.linkedTitle {
    color: #009eff;
    cursor: pointer;
}
.linkedTitle:hover {
    text-decoration: underline;
}
/* icon styling */
.statsIcon {
    color: #ff9340;
    transform: scale(10, 5);
    margin-bottom: 10px;
    margin-top: 40px;
}
.upArrowIcon {
    color: #ff9340;
    transform: scale(5, 10);
    position: relative;
    right: 15px;
    margin-bottom: 20px;
    margin-top: 40px;
}
.downArrowIcon {
    color: #ff9340;
    transform: scale(5, 10);
    position: relative;
    left: 15px;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 20px;
}

.softwareKey {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #999;
}
.softwareKey div:last-child {
    margin-left: auto;
}

.pieCard {
    /* padding: 20px; */
    /* width: 90%; */
}

.software {
    width: 90%;
}
