.legendList {
    padding: 10px;
    display: flex;
    cursor: pointer;
}
.inline {
    display: flex;
    justify-content: center;
}
.inlineLegend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.circle {
    margin-right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.header {
    position: relative;
    left: 160px;
    top: 40px;
    padding-right: 320px;
}

.pieContainer {
    margin-top: -60px;
}
