.legendList{
    display: inline-block;
    padding-left: 2em;
}

.circle{
    margin-right:5px;
    display: inline-block;
    background: black;
    width:16px;
    height:16px;
    border-radius: 50%;
}

.header{
    display:inline-block;
    margin-right: 10em;
    position: relative;
    right:19em;
    top:2em;
}  