.buttonMain {
    height: 45px;
    width: 105px;
    border: 1.5px solid #009eff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #009eff;
}
.buttonMain:hover {
    background: #009eff;
    color: white;
}

.buttonMain:hover .addIcon:after,
.buttonMain:hover .addIcon:before {
    background-color: #fff;
}

.buttonText {
    line-height: 45px;
    font-weight: bold;
    font-size: 22px;
}

.icon {
    margin: 12px 5px;
}

.addIcon {
    position: relative;
    width: 17px;
    height: 17px;
    margin: 15px 5px;
}

.addIcon:before,
.addIcon:after {
    content: '';
    position: absolute;
    background-color: #009eff;
}

/* Vertical line */
.addIcon:before {
    top: -1px;
    left: 50%;
    width: 3px;
    height: 100%;
    margin-left: -2px;
    border-radius: 50px;
}

/* horizontal line */
.addIcon:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    margin-top: -2px;
    border-radius: 50px;
}
