.titleContainer {
    margin-top: 20px;
    margin-bottom: 10px;
}

.title {
    color: #ff9340;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

.subtitle {
    color: #a5a5a5;
    font-size: 18px;
}
